.main_chat
  .main_chat-header
    .main_chat-header-classname
      きりん組
  .main_chat_space
    .main_chat_space-message
      .main_chat_space-message-title
        運動会のおしらせ
      .main_chat_space-message-content
        10/5に運動会が開催されます！
      .main_chat_space-message-writer-name
        きりん組 高橋なおこ
      .main_chat_space-message-time
        2019/09/05 10:25
    .main_chat_space-message
      .main_chat_space-message-title
        運動会のおしらせ
      .main_chat_space-message-content
        10/5に運動会が開催されます！
      .main_chat_space-message-writer-name
        きりん組 高橋なおこ
      .main_chat_space-message-time
        2019/09/05 10:25
    
  .main_chat-footer
    .main_chat-footer-writer-space
      .main_chat-footer-writer-space-content
        %input.writer-space{placeholder: "投稿は職員しかできません"}
      .main_chat-footer-writer-space-image
        %label{class: "input-box__image"}
          = icon('fas', 'image')
          %input.bbb{type: "file"}
    .main_chat-footer-send
      .main_chat-footer-send-font
        SEND
