.side_bar
  .side_bar-login-user
    .side_bar-login-user-name
      山本
    .side_bar-login-user-icon
      = icon('fas', 'cog', class: 'icon')
  .side_bar-class-list
    .side_bar-class-list-icon
      %i.fas.fa-pen-square
    .side_bar-class-list-classname
  .side_bar-sensei-list
    .side_bar-sensei-list-icon
      %i.fas.fa-pen-square
    .side_bar-sensei-list-senseiname
  .side_bar-photo  
    .side_bar-photo-class
